<div class="col-md-10 offset-1">
<div class="text-center mt-2">
    <img class="img-fluid" src="assets/img/laadpaalantwerpen.png">
    <header>
        <h1 class="text-danger">Parkeren en opladen van elektrische voertuigen</h1>
    </header>
</div>

<p class="font-weight-bold">Bestuurders van elektrische wagens of motors kunnen hun voertuigen in Antwerpen opladen op verschillende plaatsen verspreid over de stad.</p>
<h2 class="font-weight-bold"><span>Waar laad ik op?</span></h2>

<ul>
    <li><p><span><span>Aan laadpalen op publiek toegankelijke parkings​. Op het parkeergeleidingssysteem in de stad vindt u een verwijzing naar deze laadpunten.&nbsp;</span></span></p></li>
    <li>
        <p><span><span>Aan publieke&nbsp;laadpalen op openbaar domein.</span><br>
        <span>Let op: de parkeerregels blijven gelden. In een zone met&nbsp;betalend parkeren moet u ook tijdens het opladen betalen. Ook de maximale parkeerduur blijft van toepassing. Een overzicht van de parkeertariefzones&nbsp;</span>
        <a target="_self" href="https://www.antwerpen.be/nl/overzicht/parkeren-en-mobiliteit/met-de-auto/parkeerzones-en-tarieven"><span>kan u hier terugvinden</span></a><span>.&nbsp;</span></span></p>
    </li>
</ul>

<h2 class="font-weight-bold"><span>Hoe laad ik op?</span></h2>

<p><span><span>Er zijn verschillende&nbsp;manieren om op te laden aan publieke laadpalen.</span></span></p>
<p><strong><span>Laadpas/abonnement</span></strong></p>
<p><span><span>De laadpalen in Antwerpen zijn van verschillende providers. Elke provider heeft een eigen tarief en eigen laadpas of -kaart. De laadpalen zijn wel interoperabel,&nbsp;u kan de paal dus ook activeren met een laadpas van een andere provider. U betaalt steeds het tarief van de provider van de laadpaal.</span></span></p>
<p><strong><span>Sms</span></strong></p>
<p><span><span>U kan ook betalen per sms. Op de laadpalen hangt een sticker met meer informatie over het betalen via sms. De laadpuntcode kan u aflezen op deze sticker.</span></span></p>

<h2 class="font-weight-bold"><span>Wat zijn de tarieven?</span></h2>

<p><span><span>De laadpalen in Antwerpen zijn van verschillende providers. Elke provider heeft een eigen tarief.<span> </span> Op de meeste laadpalen staat een qr-code (afhankelijk van provider). Als u die scant, komt u op de microsite van de laadpaal, waar ook het tarief staat.</span></span></p>

<h2 class="font-weight-bold"><span>Waar vind ik de oplaadpalen?</span></h2>

<ul>
    <li><p>Kies in de navigatiebalk voor Regio's en kies de regio waar je een laadpaal zoekt. Vervolgens kan je in de lijst een laadpaal kiezen om deze op een kaart te tonen.</p></li>
</ul>

<!-- <div *ngFor="let lp of features">
    <div class="card border shadow">
        <div class="card-header card-text">
            Postcode: {{lp.attributes.Postcode}}<br>
            Regio: {{lp.attributes.District}}<br>
            Straat: {{lp.attributes.Straatnaam}} {{lp.attributes.Huisnummer}}
        </div>
    </div> -->
        <!-- ID: {{feature.attributes.OBJECTID}}<br>
        Straatnaam: {{feature.attributes.Straatnaam}}<br>
        Huisnummer: {{feature.attributes.Huisnummer}}<br>
        District: {{feature.attributes.District}}<br>
        Postcode: {{feature.attributes.Postcode}}<br>
        Type aansluiting: {{feature.attributes.Type}}<br>
        {{feature.attributes.Start_Date}}<br>
        {{feature.attributes.End_Date}}<br>
        GISID: {{feature.attributes.GISID}}<br>
        Aantal: {{feature.attributes.AANTAL}}<br>
        Parking: {{feature.attributes.PARKING}}<br>
        Toegang: {{feature.attributes.Toegang}}<br>
        Laadpaal/Wallbox: {{feature.attributes.Laadpaal_wallbox}}<br>
        Vermogen: {{feature.attributes.Vermogen_kW}}Kw<br>
        Parkeertarief: {{feature.attributes.Parkeertarief}}<br>
        Bataalsysteem: {{feature.attributes.Betaalsysteem}}<br>
        Prijs: {{feature.attributes.Prijs}}<br>
        Starttarief: {{feature.attributes.Starttarief}}<br>
        Rotatietarief: {{feature.attributes.Rotatietarief}}<br>
        Geometry:<br>
        x: {{feature.geometry.x}}<br>
        y: {{feature.geometry.y}}<br><br> -->
<!-- </div> -->
{{errorMsg}}